
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

/* Variables */
:root {
    --color-primary: #00a6a6;
    --color-secondary: #333;
    --color-background: #fff;
    --color-text: #555;
    --color-border: #eee;
    --color-card: #fff;
    --color-header: #fff;
    --color-footer: #EAEAEA;
    --color-footer-text: #333;
    --shadow-default: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 123, 255, 0.3);
    --section-alt: #f9f9f9;
}


body {
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* Promo Banner Section */
.promo-banner {
   background-color: var(--section-bg);
    position: relative;
    overflow: hidden;
    padding: 10rem 0;
    background-image: url("image/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.promo-banner .wrapper{
     position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    top:6.5rem;
    right: 3.1rem;
}
.promo-content {
    position: relative;
    z-index: 2;
}